.container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  min-width: 100%;
  min-height: 15em;

  .header-section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .header {
      color: seagreen;
    }
  }

  .import-section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    .header {
      color: seagreen;
      margin-right: 1em;
    }

    .mat-icon {
      cursor: pointer;
      color: seagreen;
      margin-right: 3em;
    }
  }

  .input-section {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
    justify-content: center;
    align-items: center;

    .country-input {
      width: 30em;
      margin-right: 3em;
    }

    .device-input {
      width: 30em;
      margin-left: 3em;
    }
  }

  .button-section {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2em;

    .search-button {
      width: 25em;
      background-color: seagreen;
      color: white;
      margin-right: 2em;
    }
  }

}
