<div #criteria class="container">
  <div #import_section class="import-section">
    <span class="header">Import data</span>
    <mat-icon (click)="importDataFromCsv()">backup</mat-icon>
  </div>
  <div #header_section class="header-section">
    <h2 class="header">Criteria</h2>
  </div>
  <form [formGroup]="criteriaFormGroup" class="input-section">
    <mat-form-field appearance="outline" class="country-input">
      <mat-label>Country</mat-label>
      <mat-select formControlName="countries" multiple>
        <div class="select-all-checkbox">
        <mat-checkbox  (change)="toggleAllCountriesSelection($event)">Select all</mat-checkbox>
        </div>
        <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="device-input">
      <mat-label>Device</mat-label>
      <mat-select formControlName="devices" multiple>
        <mat-checkbox class="select-all-checkbox" (change)="toggleAllDevicesSelection($event)">Select all</mat-checkbox>
        <mat-option *ngFor="let device of devices" [value]="device.deviceId">{{device.description}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div #button_section class="button-section">
    <button mat-raised-button class="search-button" (click)="submitCriteria(criteriaFormGroup.getRawValue())">Search</button>
  </div>
  <mat-divider></mat-divider>
</div>
