.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
}

.mat-toolbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  min-width: 100%;
  min-height: 3em;
  background-color: seagreen;
  color: white;

  .header-title {
    justify-self: flex-start;
  }
}

