<ng-container class="container">
  <mat-toolbar>
    <span class="header-title">Tester search</span>
  </mat-toolbar>
  <app-criteria (criteria)="onCriteriaSubmit($event)"></app-criteria>
  <app-results [results]="searchResults"></app-results>
</ng-container>
