.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 100%;
  margin-top: 5em;

  .mat-table {
    min-width: 80%;

    .mat-header-cell {
      display: flex;
      justify-content: center;
    }

    .mat-cell {
      display: flex;
      justify-content: center;
    }
  }
}
